body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fullname{
  text-transform: capitalize;
}
*:focus {
  outline: none;
}

.friends-container{
  position:fixed;
  right:100px;
  bottom:450px;
  height:350px;
  overflow:auto;
  width:400px;
  background-color:white;
}
.friends-container::-webkit-scrollbar {
  display: none;
 }
.image {
  border-radius: 20px;
}
.users-container{
 margin:14px;
 display:flex;
 justify-content: space-between;
}
.friends-search{
    width:400px;
    display:flex;
   justify-content: center;
    height:50px;
   background-color: white;
   margin-bottom:-12px;
   
}
.friends-search input{
   border:none;
   width:80%; 
   margin-right:5px;
 }
 .friends-search i{
   padding-top: 14px;
 }

